# --- OS & IDE (Editor di codice) ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Docker & Database ---
# Evita di caricare su GitHub i dati grezzi del database
mysql_data/
db_data/

# --- PHP & Sicurezza ---
# Ignora file contenenti password/configurazioni locali
.env

# --- Python ---
venv/
.venv/
__pycache__/

